# Segment Data Quality Cases -- Wework.cn

This doc will show the cases of data that may need some attention

Run the following cell to set up.

In [1]:
# load configure
%store -r

In [2]:
# connect to redshift

import os
from we_module.we import We
#rs_conn = 'postgresql://lu.ye@wework.com:Luye@1234@redshift-production.weworkers.io:5439/analyticdb'
rs_conn_str = 'postgresql://{}:{}@redshift-production.weworkers.io:5439/analyticdb'
rs_conn = rs_conn_str.format(redshift_user, redshift_password)

os.environ['REDSHIFT_CONN'] = rs_conn
we = We()
# disable logging info
import logging, sys
logging.disable(sys.maxsize)

### Identify call: there is null value in user_id

In [3]:
sql =  '''
select t.uuid, t.received_at, t.anonymous_id, t.user_id
from wework_cn_segment.identifies t
where t.user_id is null
order by t.timestamp desc
'''

df_seg = we.get_tbl_query(sql)
df_seg.head(10)

    uuid             received_at                          anonymous_id user_id
0  51046 2019-07-24 22:30:21.198  105cc450-0781-4493-a31b-a8550672d61c    None
1  50797 2019-07-24 22:30:20.898  105cc450-0781-4493-a31b-a8550672d61c    None
2  54373 2019-07-24 22:07:12.525  5c28ffac-a5b1-4dcc-9dd6-155d80695345    None
3  55919 2019-07-24 22:07:11.211  5c28ffac-a5b1-4dcc-9dd6-155d80695345    None
4  54876 2019-07-24 22:07:10.149  5c28ffac-a5b1-4dcc-9dd6-155d80695345    None
5  57987 2019-07-24 22:07:09.107  5c28ffac-a5b1-4dcc-9dd6-155d80695345    None
6  61377 2019-07-24 21:59:13.123  bbd6db59-9ad3-451a-b599-c435fbf0325b    None
7  51357 2019-07-24 21:55:33.012  c1251686-e5a8-4a45-81f6-590930c9545e    None
8  53268 2019-07-24 21:55:32.102  c1251686-e5a8-4a45-81f6-590930c9545e    None
9  55700 2019-07-24 21:55:31.853  c1251686-e5a8-4a45-81f6-590930c9545e    None


### Outlier: 1 anonymous_id maps with 2 user_id